---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to AOLar.no'>
    <main class='grid grid-cols-1 min-h-[50vh]'>
        <section
            class='mx-auto p-4 h-2/4 self-center grid content-center w-11/12 text-center md:text-right'
        >
            <h2 class='text-bold text-5xl md:text-7xl'>Frontend developer</h2>
            <p class='text-1xl md:text-2xl'>&hellip; working as a bicycle&nbsp;mechanic</p>
        </section>
        <figure class='p-4 w-11/12 lg:w-full self-center mx-auto'>
            <blockquote class='min-h-'>
                <p class='text-center md:text-right lg:text-center text-2xl md:text-3xl p-4'>
                    I consider myself a problem solver regardless of occupation.
                </p>
            </blockquote>
        </figure>
    </main>
</Layout>
