---
const thisYear = new Date().getFullYear();
---

<footer class='font-sans p-4 h-min flex justify-center items-center text-center gap-6'>
    <p class='self-end'>&copy; {thisYear}<span class='font-bold px-[0.15rem]'> AOL</span>ar.no</p>
</footer>
